@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  animation: 0.2s ease-in 0s 1 fadeIn;

  margin: auto;
  margin-top: 0.5em;
  max-width: 60em;

  background-color: #d8dcf3;
}

nav {
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  left: 0px;
  top: 44px; /* Put it below the hamburger */

  background: white;
  border-radius: 0.5em;
  border: black solid 2px;

  /* Hide the navigation bar off screen by default */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  /* How the nav panel slides in */
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body > input[type="checkbox"] {
  display: block;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 1;
  appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-width='2' d='M4 18h16M4 12h16M4 6h16'/%3E%3C/svg%3E");
  background-repeat: no-repeat;

  transition: all 0.5s cubic-bezier(1, 0.41, 0, 0.64);
}

body > input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%230F0F0F' d='M20.746 3.329a1 1 0 0 0-1.415 0l-7.294 7.294-7.294-7.294a1 1 0 1 0-1.414 1.414l7.294 7.294-7.294 7.294a1 1 0 0 0 1.414 1.415l7.294-7.295 7.294 7.295a1 1 0 0 0 1.415-1.415l-7.295-7.294 7.295-7.294a1 1 0 0 0 0-1.414'/%3E%3C/svg%3E");
  background-repeat: no-repeat;

  transition: all 0.5s cubic-bezier(1, 0.41, 0, 0.64);
}

/* Show the navigation bar */
body > input:checked + nav {
  transform: translate(0.5em, 0);
}

nav ul {
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
}

nav img {
  vertical-align: middle;
  padding-right: 0.5em;
  display: inline;
  max-width: 2em;
  margin: 0 auto;
}

article img {
  max-width: 90%;
  display: inherit;
  margin: 0 auto;
}

article svg {
  max-height: 50em;
  display: inherit;
  margin: 0 auto;
}

pre {
  background: lightgray;
  border-radius: 0.5em;
  border: black solid 1px;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 1em;
  font-size: smaller;
  max-width: 80%;
  overflow: auto;
}

aside {
  width: 30%;
  padding: 0.5rem;
  float: right;
  box-shadow: inset 8px 0px 8px -5px;
  font-style: italic;
  font-size: smaller;
  margin: 0.5rem;
}

table {
  border-radius: 0.5em;
  border: 1px solid;
  margin: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 80%;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  background-color: lightsteelblue;
}

article {
  border: black solid 2px;
  border-radius: 0.5em;
  background-color: white;
  margin-top: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.75em;
  overflow: visible;
}

/* If we're getting close to occluding hamburger icon, move down */
@media (max-width: 1040px) {
  article {
    margin-top: 50px;
  }
}

article h1 {
  border: black solid 2px;
  border-radius: 0.5em;
  margin-top: -2ex;
  background-color: white;
  padding-left: 0.5em;
  margin-left: 1em;
  width: fit-content;
  max-width: 60%;
  padding-right: 0.5em;
  overflow: visible;

  font-family: "Lucida Sans", sans-serif;
}

details[open] summary ~ * {
  animation: fadeIn 0.5s ease-in-out;
}

details summary {
  font-size: larger;
  cursor: pointer;
}

dt {
  font-weight: bold;
}
