@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    animation: 0.2s ease-in 0s 1 fadeIn;

    margin-left: 10%;
    margin-right: 10%;
}

figure {
    display: inline-block;
    margin: 0 auto;
}

figcaption {
    width: fit-content;
    margin: 0 auto;
}

figure img {
    display: block;
}

img {
    display: inherit;
    margin: 0 auto;
    max-width: 90%;
}

nav {
    width: fit-content;
    margin: 0 auto;
}

pre {
    background: lightgray;
    border-radius: 0.5em;
    border: black solid 1px;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 1em;
}

article {
    border: black solid 2px;
    border-radius: 0.5em;
    background-color: white;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

article h1 {
    border: black solid 2px;
    border-radius: 0.5em;
    margin-top: -1ex;
    background-color: white;
    padding-left: 0.5em;
    margin-left: 1em;
    width: fit-content;
    padding-right: 0.5em;

    font-family: "Lucida Sans";
}

body {
    background-color: #a3abe2;
}