@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.95, 1.05);
  }
  50% {
    transform: scale(1.05, 0.95);
  }
  75% {
    transform: scale(0.975, 1.025);
  }
}

body {
  animation: 0.2s ease-in 0s 1 fadeIn;

  margin: auto;
  margin-top: 0.5em;
  max-width: 60em;

  background-color: #d8dcf3;
}

nav {
  width: fit-content;
  margin: 0 auto;
}

nav a {
  display: inline-block;
  text-align: center;
  padding-left: 1ex;
}

nav a:hover {
  animation: 1s ease-in 0s 1 gelatine;
  animation-iteration-count: infinite;
}

nav img {
  display: block;
  max-width: 4em;
  margin: 0 auto;
}

article img {
  max-width: 90%;
  display: inherit;
  margin: 0 auto;
}

article svg {
  max-height: 50em;
  display: inherit;
  margin: 0 auto;
}

pre {
  background: lightgray;
  border-radius: 0.5em;
  border: black solid 1px;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 1em;
  font-size: smaller;
  max-width: 80%;
  overflow: auto;
}

table {
  border-radius: 0.5em;
  border: 1px solid;
  margin: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 80%;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  background-color: lightsteelblue;
}

article {
  border: black solid 2px;
  border-radius: 0.5em;
  background-color: white;
  margin-top: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.75em;
  overflow: hidden;
}

article h1 {
  border: black solid 2px;
  border-radius: 0.5em;
  margin-top: -2ex;
  background-color: white;
  padding-left: 0.5em;
  margin-left: 1em;
  width: fit-content;
  padding-right: 0.5em;
  position: absolute;

  font-family: "Lucida Sans", sans-serif;
}

details[open] summary ~ * {
  animation: fadeIn 0.5s ease-in-out;
}

details summary {
  font-size: larger;
  cursor: pointer;
}
